#content-pane-outer {
  height: 100%;
  padding: 1em;
}

#content-pane-inner {
  height: 100%;
  padding: 2em 0em;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(201, 201, 201);
}

#main-img {
  text-align: center;
  padding-top: 0.5em;
}

#content-pane > div:nth-of-type(2){
  margin-bottom: 2em;
}

#content-pane > div:nth-of-type(3){
  overflow-y: auto;
}

#content-pane #cast-member-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 1em;
}

#content-pane #cast-member-container .cast-member {
  text-align: center;
}

#content-pane #cast-member-container .cast-member img {
  object-fit: cover;
}

#content-pane #cast-member-container .cast-member p.name {
  margin-top: 1em;
}

#custom-paginated-cast-member .small-circular-btn {
  height: 3em;
  width: 3em;
  border-radius: 1.5em;
  border: 1px solid #ccc;
  background: #ccc;
  line-height: 3em;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin: 0em 1em;
  cursor: pointer;
}

#custom-paginated-cast-member .small-circular-btn:active {
  background: #666;
}

#custom-paginated-cast-member .small-circular-btn.inactive {
  background: #eee;
  border: 1px solid #eee;
  cursor: not-allowed;
}

#custom-paginated-cast-member div:last-child {
  text-align: center;
}