#main-left {
  height: 100vh;
  padding: 1em;
  background: linear-gradient(to top, #fff, #b4d8b0);
  overflow: auto;
}

#main-right { box-shadow: 5px 0px 15px 1px #505050; }

#main-spin {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

#main-img {
  text-align: center;
}

#poster {
  border-style: none;
  border: .5em solid #fff;
  border-radius: .5em;
  margin-bottom: 2em;
}