.movie-item {
  padding: 1em;
  transition: 0.25s;
  cursor: pointer;
}

.movie-item:hover,
.movie-item.selected {
  background: #c3e6cc;
}

.movie-item span {
  height: 100%;
  width: 60%;
}

.movie-item img {
  border: 2px solid #fff;
  border-radius: .25em;
}
