.movie-item {
  padding: 1em 1em 1em 1em;
  margin-bottom: 1em;
  transition: 0.25s;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgb(201, 201, 201);
}

.movie-item:hover,
.movie-item.selected {
  background: rgb(220, 220, 220);
}

.movie-item span {
  height: 100%;
  width: 60%;
}