.movie-item {
  padding: 1em;
  transition: 0.25s;
  cursor: pointer;
}

.movie-item:hover,
.movie-item.selected {
  background-image: linear-gradient(to top, #2d312e, #103110);
}

.movie-item span {
  height: 100%;
  width: 60%;
}

.movie-item span,
.movie-item h3 {
  color: #fff;
}

.movie-item img {
  border: 2px solid #fff;
  border-radius: .25em;
}
