#search-pane-container {
  height: 100vh;
}

#search-pane-container .padding-wrapper {
  padding: 1em;
}

#search-pane-container #search-list-container {
  height: 100%;
  overflow-y: auto;
}

#search-pane-container #search-spin {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}